/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 	0
#define NUMS   		1
#define NUMERICMASK   	2
#define TEXTNAV   	3
#define FNLAYER   	4

&left_encoder 	{ resolution = <2>; };
&right_encoder 	{ resolution = <2>; };

// make this behave like ignore-mod-tap-interrupt on QMK

&mt {    
	tapping-term-ms = <200>;
	flavor = "tap-preferred";
};

&caps_word {  
	continue-list = <UNDERSCORE MINUS>;
};

// transparent template for new layers
//			bindings = <
//	&trans   &trans &trans &trans &trans &trans                                                &trans   &trans &trans &trans &trans &trans 
//	&trans   &trans &trans &trans &trans &trans                                               &trans   &trans &trans &trans &trans &trans 
//	&trans   &trans &trans &trans &trans &trans &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &trans   &trans &trans &trans &trans &trans 
//	                 &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
//			>;

/ {
	    behaviors {
            fast_shift: fast_shift {
                compatible = "zmk,behavior-hold-tap";
                label = "fast_shift";
                #binding-cells = <2>;
                tapping_term_ms = <200>;
                quick_tap_ms = <0>;
                flavor = "balanced";
                bindings = <&kp>, <&kp>;
            };
			right_layer_tap: right_layer_tap {
                compatible = "zmk,behavior-hold-tap";
                label = "right_layer_tap";
                #binding-cells = <2>;
                tapping_term_ms = <200>;
                quick_tap_ms = <0>;
                flavor = "balanced";
                bindings = <&kp>, <&to>;
            };
			td_left_mac: tap_dance_left_mac {
            	compatible = "zmk,behavior-tap-dance";
            	label = "TAP_DANCE_LEFT_MAC";
            	#binding-cells = <0>;
            	tapping-term-ms = <200>;
            	bindings = <&kp LG(LEFT)>, <&kp CARET>;
        	};
			td_right_mac: tap_dance_right_mac {
            	compatible = "zmk,behavior-tap-dance";
            	label = "TAP_DANCE_RIGHT_MAC";
            	#binding-cells = <0>;
            	tapping-term-ms = <200>;
            	bindings = <&kp LG(RIGHT)>, <&kp DOLLAR>;
        	};
        };


    combos {
        compatible = "zmk,combos";
        combo_left {
            timeout-ms = <50>;
            key-positions = <30 43>;
            bindings = <&kp LEFT>;
        };
		combo_right {
            timeout-ms = <50>;
            key-positions = <31 44>;
            bindings = <&kp RIGHT>;
        };
		combo_down {
            timeout-ms = <50>;
            key-positions = <32 45>;
            bindings = <&kp DOWN>;
        };
		combo_up {
            timeout-ms = <50>;
            key-positions = <33 46>;
            bindings = <&kp UP>;
        };
		combo_bt_clear {
            timeout-ms = <50>;
            key-positions = <30 31 32 33>;
            bindings = <&bt BT_CLR>;
        };

		combo_finder{
			timeout-ms = <50>;
			key-positions = <43 46>;
			bindings = <&kp LG(LA(SPACE))>;
		};

		combo_compose {
			timeout-ms = <50>;
			key-positions = <42 47>;
			bindings = <&kp SLCK>;
		};

    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   -  |
// |  ESC  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | LAYER |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | LAYER |
//                     | GUI  | LAYER()  | BSPC  |  ENTER  |   ESC   |  |   RET   |  LAYER  | SPACE  | LAYER  | R-ALT |
			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                             &kp Y &kp U  &kp I  &kp O   &kp P    &kp MINUS
	&kp ESC   &mt LCTRL A &mt LALT S &fast_shift LSHFT D &mt LGUI F &kp G                                           &kp H &mt RGUI J  &fast_shift RSHFT K  &mt RALT L   &mt RCTRL SEMI &kp SQT
	&mt LC(LG(LS(LEFT))) LC(UP) &kp Z &kp X &kp C &kp V &kp B &caps_word &kp LSHFT        	&kp LSHFT &kp RALT &kp N &kp M &kp COMMA &kp DOT &kp FSLH &right_layer_tap LC(LG(LS(RIGHT))) NUMERICMASK
	                 &kp LA(BSPC) &lt NUMS LPAR &kp BSPC &lt FNLAYER ENTER &kp LS(ENTER)        						&kp UNDERSCORE  &lt TEXTNAV STAR  &kp SPACE &lt NUMS RPAR &kp PG_DN
			>;

			sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp UP DOWN>;
		};


		numeric_layer {
			bindings = <
	&kp LG(LS(N4))   &kp EXCL &kp AT &kp HASH &kp DOLLAR &kp PERCENT                                        &kp CARET &kp N7 &kp N8 &kp N9 &trans &kp PIPE 
	&to DEFAULT   &kp LCTRL &kp LALT &kp LSHFT &kp LGUI &kp PLUS                                               &kp EQUAL   &kp N4 &kp N5 &kp N6 &kp BSLH &trans 
	&kp LBRC   &kp LBKT &kp TILDE &kp GRAVE &trans &kp AMPS &trans &trans                  &trans &trans &trans &kp N1 &kp N2 &kp N3 &kp RBKT &kp RBRC 
	                 &trans &trans &trans &trans &trans        			&trans &trans &kp UNDERSCORE &kp N0 &kp C_MUTE
			>;

			sensor-bindings = <&inc_dec_kp LG(TAB) LG(LS(TAB)) &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		numlock_layer {
			bindings = <
	&trans   &trans &trans &trans &trans &trans                                                &trans   &kp N7 &kp N8 &kp N9 &trans &trans 
	&to DEFAULT   &trans &trans &trans &trans &trans                                               &trans   &kp N4 &kp N5 &kp N6 &trans &trans 
	&trans   &trans &trans &trans &trans &trans &bt BT_SEL 1 &bt BT_SEL 2        &bt BT_SEL 3 &bt BT_SEL 4 &trans   &kp N1 &kp N2 &kp N3 &trans &trans 
	                 &bt BT_SEL 0 &trans &trans &trans &trans                    &trans &trans &trans &kp N0 &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		textnav_layer {
			bindings = <
	&kp LC(LG(Q))   &kp PSCRN &kp LS(LC(LEFT)) &kp UP &kp LS(LC(RIGHT)) &td_left_mac                        &td_right_mac &kp PG_UP &kp LC(LG(SPACE)) &trans &trans &trans 
	&to DEFAULT   &kp LA(LEFT) &kp LEFT &kp DOWN &kp RIGHT &kp LA(RIGHT)                                              &kp LEFT   &kp RGUI &kp RSHFT &kp RALT &kp RCTRL &kp CAPS 
	&kp INS   &trans &kp LS(LA(LEFT)) &kp PG_DN &kp LS(LA(RIGHT))  &kp PG_UP &trans &trans                         &trans &trans &kp RIGHT   &kp PG_DN &kp HOME &kp END &trans &trans 
	                 &kp LG(X) &kp DEL &kp LA(BSPC) &trans &trans        				&trans &trans &trans &trans &kp LG(X)
			>;

			sensor-bindings = <&inc_dec_kp LS(LA(LEFT)) LS(LA(RIGHT)) &inc_dec_kp LS(UP) LS(DOWN)>;
		};

			fn_layer {
			bindings = <
	&trans &trans &trans &trans &trans &trans                                              &kp F11 &kp F7 &kp F8 &kp F9 &kp F14 &trans
	&to DEFAULT   &kp LCTRL &kp LALT &kp LSHFT &kp LGUI &trans                             &kp F12 &kp F4 &kp F5 &kp F6 &kp F15 &trans 
	&trans &trans &trans &trans &trans &trans &trans &trans                         &trans &trans &kp F13 &kp F1 &kp F2 &kp F3 &kp F16 &trans 
	                 &trans &trans &trans &trans &trans        				&trans &trans &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp LS(LA(LEFT)) LS(LA(RIGHT)) &inc_dec_kp LS(UP) LS(DOWN)>;
		};
	};

	};
