manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      #remote: zmkfirmware
      remote: nickconway
      revision: dev
      #revision: main
      import: app/west.yml
  self:
    path: config
